<div style="height: 40px; width: 824px">
    <div id="buttonContainer" style="float: right; display: flex; justify-content: right;">
        <button id="pause" >
            <i class="material-icons">pause</i>
        </button>
        <button id="play" >
            <i class="material-icons">play_arrow</i>
        </button>
        <button id="replay">
            <i class="material-icons">replay</i>
        </button>
    </div>
</div>